@{
    Layout = "~/Views/Shared/_Account.cshtml";
    ViewBag.Title = "Join Company Account";
}
@model MyApplication.Web.Models.JoinInvitationViewModel

<form asp-action="JoinInvitation" asp-controller="Account" method="post" class="login-form">
    <div class="card mb-0">
        <div class="card-body">
            <div class="text-center mb-3">
                <img class="text-slate-300 border-slate-300 rounded-round p-3 mb-3 mt-1" src="~/images/TimeTrackingSoftIcon.png">
                @*<h1  style="color: #8bc34a;">Join Time Tracking Company Account</h1>*@
                <h1  style="color: #8bc34a;">Join @Model.CompanyName Account</h1>
            </div>
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.Token)
            <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="text" id="pass2" class="form-control" asp-for="FirstName" placeholder="Enter first name">
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
            <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="text" id="pass2" class="form-control" asp-for="LastName" placeholder="Enter last name">
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>
            <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="password" id="pass2" class="form-control" asp-for="Password" placeholder="Enter new password">
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <span class="text-danger">@ViewBag.ShowAlert</span>
            </div>
            <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="password" class="form-control" asp-for="ConfirmPassword" data-parsley-equalto="#pass2" placeholder="Confirm password">
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Join<i class="icon-circle-right2 ml-2"></i></button>
            </div>
        </div>
    </div>
</form>